/* CSS стили для card__heart-counter */

.card__heart-counter{
    margin: 0;
    padding: 0;
    /*width: 10px;
    height: 13px;*/
    border: none;


    /*display: block;*/

    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;

  }

