/* CSS стили для profile */

.profile{
    margin: 0;
    margin: 40px 200px 0 200px;
    min-width: 880px;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1279px) {
    .profile{
        min-width: 320px;
    }
}
        
@media screen and (max-width: 1070px) {
    .profile{
        margin: 40px 100px 0 100px;
        min-width: 320px;
    }
}
    
@media screen and (max-width: 880px) {
    .profile{
        margin: 40px 50px 0 50px;
        min-width: 320px;
    }
}  

@media screen and (max-width: 780px) {
    .profile{
        margin: 42.5px auto 0 auto;
        min-width: 282px;
        flex-direction: column;
    }
}
