/* CSS стили для profile__avatar */

.profile__avatar{
    max-width: 120px;
    height: 100%;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0;
}

@media screen and (max-width: 780px) {
    .profile__avatar{
        margin-bottom: 22px;
        align-self: center;
    }
}

