/* CSS стили для profile__info */

.profile__info{
    display: grid;
    grid-template-columns: 294px 24px;
    grid-template-rows: auto;
    gap: 8px 18px;
    align-items: end;
}

@media screen and (max-width: 780px) {
    .profile__info{
        margin-bottom: 33px;
        grid-template-columns: 1fr 18px;
        gap: 6px 12px;
    }
}

